<div class="o-checkbox">
    <input id="check1" type="checkbox" />
    <label for="check1">item 1</label>
</div>
<div class="o-checkbox">
    <input id="check2" type="checkbox" />
    <label for="check2">item 2</label>
</div>
<div class="o-checkbox">
    <input id="check3" type="checkbox" />
    <label for="check3"></label>
</div>
<div class="o-checkbox">
    <input id="check4" type="checkbox" disabled checked />
    <label for="check4">item 4 disabled</label>
</div>
<div class="o-checkbox">
    <input id="check5" type="checkbox" disabled />
    <label for="check5">item 5 disabled</label>
</div>