@charset "UTF-8";

/* =============================================================================
	CONFIG
============================================================================= */

$module-name: 'section';

/* =============================================================================
	BASE
============================================================================= */

.m-#{$module-name}, section {
	padding: 30px 0;

	@media (min-width: breakpoint-min(md)) {
		padding: 50px 0;
	}

}