<div class="menu-wrapper">
    <div class="hamburger-menu"></div>	  
</div>

<div class="o-hamburger">
    <div class="o-hamburger__menu"></div>
</div>

<div class="o-hamburger">
    <div class="o-hamburger__menu" data-hamburger="modern"></div>
</div>

<div class="o-hamburger">
    <div class="o-hamburger__menu" data-hamburger="two-bar"></div>
</div>

<div class="o-hamburger">
    <div class="o-hamburger__menu" data-hamburger="doner-left"></div>
</div>

<div class="o-hamburger">
    <div class="o-hamburger__menu" data-hamburger="doner-center"></div>
</div>

<div class="o-hamburger">
    <div class="o-hamburger__menu" data-hamburger="doner-right"></div>
</div>

<div class="o-hamburger">
    <div class="o-hamburger__menu" data-hamburger="kebab"></div>
</div>

<div class="o-hamburger">
    <div class="o-hamburger__menu" data-hamburger="meatball"></div>
</div>

<div class="o-hamburger">
    <div class="o-hamburger__menu" data-hamburger="arrow-left"></div>
</div>

<div class="o-hamburger">
    <div class="o-hamburger__menu" data-hamburger="arrow-right"></div>
</div>