<div class="o-textarea">
    <textarea class="o-textarea__textarea" type="text" min="1" required></textarea>
    <span class="o-textarea__bar" data-bar-animation="left"></span>
    <label class="o-textarea__label">Message</label>
</div>
<div class="o-textarea">
    <textarea class="o-textarea__textarea" type="text" min="1" required></textarea>
    <span class="o-textarea__bar" data-bar-animation="center"></span>
    <label class="o-textarea__label">Message</label>
</div>
<div class="o-textarea">
    <textarea class="o-textarea__textarea" type="text" min="1" required></textarea>
    <span class="o-textarea__bar" data-bar-animation="right"></span>
    <label class="o-textarea__label">Message</label>
</div>