@charset "UTF-8";

/* =============================================================================
	CONFIG
============================================================================= */

$object-name: 'modal';

/* =============================================================================
	BASE
============================================================================= */

.o-#{$object-name} {

    .o-modal {

        .o-switch-button {
            text-align: center;

            &__label {
                margin: 0 10px;
            }

            p {
                margin: 0;
                display: inline-block;
            }

        }

        button {
            display: block;
            margin: 10px auto 0;
        }

    }

}