<div class="o-inputfield">
    <input class="o-inputfield__input" type="text" min="1" required />
    <span class="o-inputfield__bar" data-bar-animation="left"></span>
    <label class="o-inputfield__label">Firstname</label>
</div>
<div class="o-inputfield">
    <input class="o-inputfield__input" type="text" min="1" required />
    <span class="o-inputfield__bar" data-bar-animation="center"></span>
    <label class="o-inputfield__label">Lastname</label>
</div>
<div class="o-inputfield">
    <input class="o-inputfield__input" type="text" min="1" required />
    <span class="o-inputfield__bar" data-bar-animation="right"></span>
    <label class="o-inputfield__label">email</label>
</div>