<div class="l-container">
    <div class="o-timeline">
        <div class="o-timeline__item">
            <span class="o-timeline__item__dot active" ></span>
            <div class="o-timeline__item__content">
                <p class="o-timeline__item__timestamp">35 sec geleden</p>
                <h4>Title</h4>
                <div class="o-timeline__item__data">
                    <div class="o-timeline__item__content--text">
                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                    </div>
                </div>
            </div>
            <div class="o-timeline__item__location">
                <img src="/img/pinpoint.svg" alt="Location pin point" />
                <span>Basisweg 2, Amsterdam</span>
            </div>
        </div>
        <div class="o-timeline__item">
            <span class="o-timeline__item__dot" ></span>
            <div class="o-timeline__item__content">
                <p class="o-timeline__item__timestamp">35 sec geleden</p>
                <h4>Title</h4>
                <div class="o-timeline__item__data">
                    <div class="o-timeline__item__content--text">
                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                    </div>
                </div>
            </div>
            <div class="o-timeline__item__location">
                <img src="/img/pinpoint.svg" alt="Location pin point" />
                <span>Basisweg 2, Amsterdam</span>
            </div>
        </div>
    </div>
</div>