<header id="l-header" role="banner">
    <nav class="m-navigation">
        <button class="o-hamburger o-hamburger--squeeze m-navigation__toggle hidden-sm-up float-right" type="button" aria-label="Toggle main navigation"
        aria-expanded="false">
            <span class="o-hamburger-box">
                <span class="o-hamburger-inner"/>
            </span>
        </button>
        <ul class="m-navigation__list">
            <li class="m-navigation__item">
                <a href="javascript:void(0);">Home</a>
            </li>
            <li class="m-navigation__item">
                <a href="javascript:void(0);">About</a>
            </li>
            <li class="m-navigation__item">
                <a href="javascript:void(0);">Contact</a>
            </li>
        </ul>
    </nav>
</header>